@import '../../styles/vars';
@import '../../styles/mixins';

.title {
  @include h1;
}

.form {
  label {
    display: flex;
  }

  & div {
    margin-bottom: 10px;
  }
}

.success {
  color: green;
}

.error {
  color: red;
}
