@forward '../../node_modules/include-media/dist/include-media';
@use './vars' as *;

@mixin link($color: $blue, $hoverColor: $red) {
  color: $color;
  transition: color 0.2s ease;
  &:active,
  &:hover {
    color: $hoverColor;
    transition: none;
  }
}

@mixin h1 {
  font-size: 30px;
  font-weight: bold;
}

@mixin h2 {
  font-size: 24px;
  font-weight: bold;
}
