$white: #fff;
$black: #000;
$blue: #007bff;
$red: #dc3545;

$defaultFontFamily: 'Inter', sans-serif;
$defaultFontSize: 16px;
$defaultLineHeight: 1.2;
$defaultTextColor: $black;
$defaultBackgroundColor: $white;